@media print {
  .tm-content-box:not(.tm-content-header):not(.flex-2-col),
  .tm-sidebar,
  .tm-main-nav,
  .blocks {
    display: none;
  }
  .tm-banner-text::first-letter {
    color: rgb(4, 170, 120);
  }
  .flex-item img {
    display: block;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 500px;
    right: 100px;
  }
  .tm-content-box,
  .flex-2-col {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  .tm-section-description {
    width: 270px;
  }
  .tm-section-description.tm-section-description::first-letter {
    color: rgb(4, 170, 120);
    font-size: 2em;
  }
  .tm-section-description {
    line-height: 2em;
  }
  .text-xs-center::first-letter {
    color: rgb(4, 170, 120);
    font-size: 2em;
  }
}

@media screen {
  section::before {
    content: "";
    display: block;
    border: 40px solid transparent;
    border-top: 0 solid;
    border-left: 270px solid #88cef9;
  }
}

.tm-box-bg-title:hover {
  color: white;
  background-color: #87cefa;
  font-weight: bold;
}
.tm-section-description:nth-child(2) {
  font-style: italic;
  color: rgb(140, 140, 140);
}
.tm-section-description {
  display: block;
  line-height: 2em;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-indent: 30px;
}
.tm-section-description::first-letter {
  color: #87cefa;
  font-size: 30px;
}
.flex-2-col {
  display: flex;
  align-items: center;
}
.tm-banner {
  background-color: rgba(235, 235, 235, 0.755);
}
.tm-banner-inner {
  background-color: #fff;
}
#tmCarousel h2.tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}
.tm-content-box div ol li:nth-child(1)::after,
.tm-content-box div ol li:nth-child(3)::after {
  content: "New";
  color: red;
  vertical-align: top;
  font-size: 11px;
  font-weight: bold;
  font-variant: small-caps;
}
.padding-medium a:hover {
  text-decoration: none;
  border-bottom-style: double;
  color: #87cefa;
}
.padding-medium a {
  color: black;
}
.padding-medium a:visited {
  border-bottom-style: groove;
}
.mandatory-field::after {
  content: "*";
  color: red;
}
li.box.box-work:nth-child(even) {
  background-color: rgb(235, 235, 235);
  justify-content: space-around;
}
li.box.box-work {
  padding: 8px;
}
.box.box-work p {
  font-style: italic;
  font-size: 0.9em;
}
.box.box-work p::first-letter {
  font-size: 2em;
}
.btn-primary {
  display: block;
  margin-left: auto;
  background-color: white;
  color: #87cefa;
  display: block;
  position: absolute;
  right: 275px;
  width: 110px;
  border-radius: inherit;
  border-color: #87cefa;
}
.btn-primary:hover {
  background-color: #87cefa;
}
.tm-sidebar li:hover {
  background-color: rgba(235, 235, 235, 0.755);
}
.tm-sidebar {
  box-shadow: 0px 0px 10px gray;
}
.tm-content-box {
  box-shadow: 0px 0px 10px gray;
}
